.main-container {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  // background-image: url('ferdinand-stohr-NFs6dRTBgaM-unsplash.jpg');
  // background-size: cover;
  // opacity: 0.5;
}

#search-bar {
  -moz-appearance: none;
  width: 100% !important;
  position: relative;
  color: black;
  background: transparent;
  border: none;
  text-align: center;

  &:focus-visible {
    border: none;
    outline: 0;
  }
}

.papa-search {
  position: relative;
}

.btn {
  position:absolute;
}

.list-group {
  position: absolute;
  left: 0;
  right: 0;
  height: 40vh;
  overflow: hidden;
}
