<header>
    <nav data-controller="navbar" data-navbar-target="menu">
      <div class="logo">
        <span>LOGO ELISEE</span>
      </div>
      <div class="toggle">
        <span class="ouv"><i data-action="click->navbar#toggle" class="fas fa-bars"></i></span>
        <span class="ferm"><i data-action="click->navbar#toggle" class="fas fa-times"></i></span>
      </div>
      <ul class="menu">
        <li><%= link_to "Log in", new_user_registration_path, class: "nav-link" %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
        <li><%= link_to "My dashboard", new_user_registration_path, class: "nav-link" %></li>
      </ul>
    </nav>
  </header>
