<%# BENJAMIN - JE SOUHAITE METTRE EN PLACE LA NAVBAR %>
<header>
    <nav>
      <div class="logo">
        <i class="fas fa-rocket"></i>
      </div>
      <div class="toggle">
        <i class="fas fa-bars ouv"></i>
        <i class="fas fa-times ferm"></i>
      </div>
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><button class="btn1">Inscription</button></li>
        <li><button class="btn2">Connexion</button></li>
      </ul>
    </nav>
  </header>
  <%# BENJAMIN - JE SOUHAITE METTRE EN PLACE LA NAVBAR %>
