<% search_results.each_with_index do |result, i| %>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= result.id %>"> <strong><%= result.artist%></strong> - <%= result.name %> - <%= result.album %></li>
<% end %>
