  <h3><%= current_user.first_name %>'s collection</h3>
<div class="dash-list">
  <div class="card-all">
  <% @likes.each do |like| %>
    <div class="dash-item">
      <div class="item-image">
        <h2><%= like.song.name %></h2>
        <img src="<%= like.image_url %>" alt="lol">
        <%# <%= link_to send_file %>
        <%# <div class="item-text"> %>
        <%# </div> %>
      </div>
    </div>
  <% end %>
  </div>
</div>
