.dash-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  .card-all{
    margin: 24px 0px;

    .dash-item {
      background-color: white;
      color: black;
      width: 300px;
      border-radius: 2px;
      margin: 8px;
      padding: 8px;
    }

    img {
      background-size: cover;
      width: 100%;
      height: 165px;
    }

    .item-text {
      padding-top: 10px;
      object-fit: cover;
    }

    .item-text p {
      padding: 0;
    }

    .item a {
      text-decoration: none;
    }

    h1 {
      text-align: center;
      color: $yellow;
    }

    h2 {
      color: $black;
    }
  }

}


.mountains_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin-top: 16px;

  .item {
    background-color: white;
    color: black;
    width: 280px;
    border-radius: 2px;
    margin: 8px;
    padding: 8px;
  }

  .item img {
    background-size: cover;
    width: 100%;
    height: 165px;
  }

  .item-text {
    padding-top: 10px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .item-text p {
    margin: 0;
    line-height: 1;
  }

  .item a {
    text-decoration: none;
  }
}
