.flash {
  padding: 0 10px;
  position: absolute;
  top: 10px;
  right: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 50;
  color: #E7AFCC;
  background-color: rgb(255, 255, 255);
}

.like-flash {
  display: none;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: visibility 1s, opacity 1s;
  color: #270c1a;
  text-decoration: underline;

  &.active {
    display: inline-block;
  }
}

.like-snap-thumbnail{
  display: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 300px;
  height: 180px;
  z-index: 99999;
  // BELOW : FOR CARD DISPLAY
  background: white;
  // border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2px;

  &.show{
    display: block;
  }
}

.like-snap-thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
}
