
// Graphical variables
@import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html{
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  overflow: hidden;
}

// DEVISE FORMS ↓ (to move ??)
.devise-login{
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devise-login .letsgo{
  display: flex;
  justify-content: center;
}

.devise-signup{
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//DEVISE FORMS ↑

h1 {
  font-family: 'VG5000';
  font-size: 55px;
}

p h2 h3 {
  font-family: 'Terminal';
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

