// Graphical variables
@import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html{
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'VG5000';
  font-size: 1.5em;
  color: white;
}

// DEVISE FORMS ↓ (to move ??)

.devise-login{
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devise-login .letsgo{
  display: flex;
  justify-content: center;
}

.devise-signup{
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//DEVISE FORMS ↑

h1 {
  font-size: 55px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #E7AFCC;
}

ol, ul {
  padding: 1em;
}

li.active {
  background-color: #E7AFCC !important;
  border: none;
}
